<div class="card text-center">
  <div class="card-header">
    <h1>Friends Book</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome!</h5>
    <p class="card-text"><i><u>Add</u></i> friends</p>
    <p class="card-text"><i><u>View</u></i> friends</p>
    <p class="card-text"><i><u>Edit</u></i> friends</p>
    <p class="card-text"><i><u>Delete</u></i> friends</p>

    <%= link_to 'Friends', friends_path, class:"btn btn-primary" %>
  </div>

</div>

